@charset "UTF-8";

body {
	/* ベースとなる文字種類を指定 */
	font-family: "Shippori Mincho", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	/* ベースとなる文字色を指定 */
	color: #333333;	
}

img {
	/* 最大幅を100%に指定 */
	max-width: 100%;
	height: auto;
}

a {
	/* デフォルトCSSを打ち消す */
	text-decoration: none;
	color: #333333;
}
ul {
	/* デフォルトCSSを打ち消す */
    list-style-type: none;
}

/** -----------------------------------
    レイアウト
-------------------------------------**/
#about, #concept, #pickup, #story, #access {
	/* 各セクション、上下に80pxの内側余白をつける */
	padding: 80px 0;
}
.section-inner1 {
	/* 横幅を100%に設定 */
	width: 100%; 
	/* 横幅の最大値を960pxに設定 */
	max-width: 960px; 
	/* 左右中央に配置 */
	margin: 0 auto; 
	/* 画面からはみ出した部分のイラストを非表示 */
	overflow: hidden; 
}

.section-inner2 {
	/* 横幅を100%に設定 */
	width: 100%; 
	/* 横幅の最大値を1280pxに設定 */
	max-width: 1280px; 
	/* 左右中央に配置 */
	margin: 0 auto; 
	/* 画面からはみ出した部分のイラストを非表示 */
	overflow: hidden; 
}

.col-2 {
	/* 横並びにする */
	display: flex;
	/* 左右に散らすように水平方向の揃え方を指定 */
	justify-content: space-between;
}

.col-2 .item {
	/* 要素と要素の間の余白が40pxで左右の要素の横幅が等しくなるように指定 */
	width: calc((100% - 40px)/2);
}

/* pcとspで表示を切り替えたい時のCSS① */
.pc-only {
	/* pc時に表示 */
    display: block; 
}
.sp-only {
	/* pc時に非表示 */
 	 display: none; 
}


/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {

	.section-inner1, .section-inner2 {
		/* 左右に24pxの余白（padding） */
		padding: 0 24px; 
		/* 最大幅を550pxに */
		max-width: 550px; 
	}

	.col-2 {
		/* sp時は横並びを解除 */
		display: block;
	}

	.col-2 .item {
		/* sp時の要素は横幅いっぱいになるように */
		width: 100%;
	}

	.col-2 img{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	}




	/* pcとspで表示を切り替えたい時のCSS② */
	.pc-only {
		/* pc時に非表示 */
		display: none; 
	}
	.sp-only {
		/* pc時に表示 */
		display: block; 
	}

		img{
	max-width:100%;
	height:auto;
	display:block;
	}

	.logo img{
	width:150px;
	}


/** -----------------------------------
    テキスト
-------------------------------------**/
h2.medium {
	/* 文字の種類を指定 */
	font-family: 'Shobhika';
	/* 文字の太さを指定 */
	font-weight: bold;
	/* 文字のサイズを指定 */
	font-size: 25px;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
	/* 左右中央に配置 */
	text-align: center;
}

h3.large {
	/* 文字の太さを指定 */
	font-weight: bold;
	/* 文字のサイズを指定 */
	font-size: 28px;
	/* 行間を指定*/
	line-height: 1.5;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
	/* 下に外側余白20pxを設定 */
	margin-bottom: 40px;
}

h3.medium {
	/* 文字の種類を指定 */
	font-family: 'Shobhika';
	/* 文字の太さを指定 */
	font-weight: bold;
	/* 文字のサイズを指定 */
	font-size: 25px;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
	/* 文字中央揃えに指定 */
	text-align: center;
}

p.medium {
	/* 文字のサイズを指定 */
	font-size: 18px;
	/* 行間を指定*/
	line-height: 2;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
}

p.small {
	/* 文字のサイズを指定 */
	font-size: 16px;
	/* 行間を指定*/
	line-height: 2;
	/* 文字間を指定 */
	letter-spacing: 0.08em;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
	h3.large {
		/* フォントサイズ26px */
		font-size: 26px;
	}
	p.medium {
		/* フォントサイズ15px */
		font-size: 15px;
	}
}

/** -----------------------------------
    ヘッダー
-------------------------------------**/

#header {
	/* 背景色を指定 */
	background-color: rgba(255, 255, 255, 0.8);
	/* 横幅を指定 */
	width: 100%;
	/* 高さを指定 */
	height: 110px;
	/* ロゴとメニューを横並びに・左右に散るように指定 */
	display: flex;
	/* 左右に散るように指定 */
	justify-content: space-between;
	/* 上下中央に配置 */
	align-items: center;
	/* 左右に内側余白を設定 */
	padding: 0 80px;
	/* ヘッダーをページ上部に固定 */
	position: fixed;
	top: 0;
	/* ほか要素よりも重なり順を1つ上に指定 */
	z-index: 1;
}

.header-logo {
	/* ロゴをヘッダーの上下中央にするための記述① */
	display: flex;
	align-items: center;
	/* ロゴの横幅を指定 */
	width: 200px;
	height: 300px;
}

.header-logo a {
	/* ロゴをヘッダーの上下中央にするための記述② */
	display: flex;
}

ul.gnave-pc li {
	/* inline要素にして横並びにする */
	display: inline;
	/* ヘッダーの各メニューの間に余白を空ける */
	margin-left: 40px;
}

ul.gnave-pc li a {
	/* メニューの文字スタイルを指定 */
	font-family: 'Shobhika';
	font-weight: bold;
	font-size: 16.5px;
	letter-spacing: 0.16em;
}

ul.gnave-pc li a:hover {
	/* メニューをホバーした時、透明度0.7 */
	opacity: 0.7;
}

#menu-button {
	/* ハンバーガーボタンはpc時に非表示にする */
  	display: none;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
	#header {
		/* sp時ヘッダー高さを60pxに */
		height: 60px;
		/* 左右の余白を削除 */
		padding: 0;
	}

	#header h1 {
		/* sp時ロゴの大きさを横幅180pxに */
		max-width: 180px;
		/* 左余白24px */
		margin-left: 24px;
	}

	nav.gnav-pc-wrap {
		/* sp時、pc用のメニューは非表示にする */
		display: none;
	}

	#menu-button {
		/* sp時ハンバーガーメニューを表示 */
		display: block;
		/* ハンバーガーメニューのクリックエリア 横60px,高さ60pxに指定 */
		width: 60px;
		height: 60px;
		/* paddingでクリックエリアに内側余白を作る */
		padding: 18px 16px;
	}

	.menu-button-inner{
		/* 親要素#menu-buttonの大きさいっぱいに要素を広げる */
		display: block;
		width: 100%;
		height: 100%;
		/* span（三本の線）の配置基準とするため、position:relative;を指定 */
		position: relative;
	}

	.menu-button-inner span{
	    display: block;
		/* 高さ3px 横幅100%の矩形にする */
	    width: 100%;
	    height: 3px;
		/* 矩形の背景色を#333333に */
	    background: #333333;
		/* positionで配置したい要素なので、absoluteを指定 */
	    position: absolute;
	}
	.menu-button-inner span:nth-of-type(1){
		/* ハンバーガーボタン一番目の線 */
		top: 0;
	}
	.menu-button-inner span:nth-of-type(2){
		/* ハンバーガーボタン二番目の線（上下中央に配置） */
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.menu-button-inner span:nth-of-type(3){
		/* ハンバーガーボタン三番目の線 */
	    bottom: 0;
	}

	/* ハンバーガーボタンをクリックしたら×にする */
	.close span:nth-of-type(1){
	    width: 100%;
		/* 線を45度右下に傾ける */
	    transform: rotate(45deg);
		/* 位置の微調整 */
		top: 10px;
	}
	.close span:nth-of-type(2){
		/* 2番目の線は見えなくする */
	    opacity: 0;
	}
	.close span:nth-of-type(3){
	    width: 100%;
		/* 線を45度右上に傾ける */
	    transform: rotate(-45deg);
		/* 位置の微調整 */
		bottom: 11px;
	}
}

/* SP用ハンバーガーメニュー中身のスタイル */
.gnav-sp-wrap {
	/* JSで表示させるので、最初は非表示にしておく */
	display: none;
	/* 背景色を指定 */
	background-color: #333333;
	/* 背景色を画面いっぱいに広がるようにする */
	width: 100vw;
	height: 100vh;
	/* スクロールしないように画面に固定 */
	position: fixed;
	/* 他の要素よりも重なり順を上にする */
	z-index: 100;
	/* メニューの位置を調整するため、上部に内側余白をつける */
	padding-top: 100px;
}

ul.gnav-sp li {
	/* 左右中央に配置 */
	text-align: center;
	/* 下側に余白30px */
	margin-bottom: 30px;
}

ul.gnav-sp li a {
	/* ハンバーガー内の各メニューの文字スタイルを指定 */
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	letter-spacing: 0.16em;
	color: #ffffff;
	font-weight: bold;
}

/** -----------------------------------
    メインビジュアル
-------------------------------------**/

#mainvisual {
	/* 横幅を画面いっぱいに広げる */
	width: 100vw;
	/* 高さをヘッダー分（110px）減らして指定 */
	height: calc(100vh - 110px);
	/* 背景画像を配置 */
	background-image: url(../images/sustainable_garden.png);
	/* 背景画像が常に縦横比を維持したまま前面を覆うようにサイズ指定 */
	background-size: cover;
	/* 背景画像が常に中央に配置されるように指定 */
	background-position: center;
	/* 背景画像が繰り返さないように指定 */
	background-repeat: no-repeat;
	/* maincopyの配置の基準とするため、position:relative;を指定 */
	position: relative;
	/* ヘッダー分、上に余白を設定する */
	margin-top: 110px;
}

.maincopy {
	background-image: url(../images/rectangle\ main\ copy.png) ;
}

.maincopy {
	/*文字のスタイルを指定*/
	color: #ffffff;
	font-size: 26px;
	line-height: 1.8;
	letter-spacing: 0.16em;
	/*文字を縦書きに*/
  	writing-mode: vertical-rl;
	/* 配置したい要素にposition:absolute;を指定 */
	position: absolute;
	/* 縦から20%,右から10%の位置に配置 */
	top: 13%;
	right: 5%;
}

.maincopy {
        opacity:0;
        transform:translateY(30px);
        animation: maincopyFade 1.5s ease forwards;
		animation-delay: 0.5s;
    }

    @keyframes maincopyFade{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
 }


/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
	#mainvisual {
		/* sp用のヘッダー高さに合わせてheightを調整 */
		height: calc(100vh - 60px);
		/* sp用の背景画像に変更 */
		background-image: url("../images/sustainable_garden.png");
		/* ヘッダー分、上に余白を設定する */
		margin-top: 60px;
	}
	.maincopy {
		/* フォントサイズを18pxにする */
		font-size: 18px;
	}
}

/** -----------------------------------
    アバウト
-------------------------------------**/
#about .main-title {
	/* タイトルの上下に余白60px */
	padding: 60px 0;
}

#about h2.medium {
	/* #aboutのh2だけ左寄せに配置する */
	text-align: left;
}

#about p.medium span {
	/* spanをブロック要素にすることで、改行させる */
	display: block;
}

.reveal-left,
.reveal-right{
opacity:0;
transition:all 1s ease;
}

/* left animation */

.reveal-left{
transform:translateX(-100px);
}

/* right animation */

.reveal-right{
transform:translateX(100px);
}

/* active state */

.reveal-left.active,
.reveal-right.active{
opacity:1;
transform:translateX(0);
}

.left-img {
	/* 画像の上に余白を設定 */
	margin-top: 100px;
	/* 横幅最大440px */
	max-width: 500px;
}

.right-img1 {
	/* 横幅最大350px */
	max-width: 500px;
	/* 右寄せ配置する */
	margin: 0 0 0 auto;
	/* 右側に内側余白を40px設定する */
	padding-right: 40px;
	/* 下側に内側余白を20px設定する */
	padding-bottom: 20px;
}

.right-img2 {
	margin-top: 43px;
	/* 画像の横幅を指定 */
	width: 460px;
	/* 右寄せに配置する */
}

#about{
	position: relative;
	padding: 80px 0;
}

#about::after{
content: "";
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 93%;
background: #f3efe7;
z-index: -1;
}

/** -------- スマホ -------- **/

@media screen and (max-width: 768px) {
	#about .main-title {
		/* タイトルの上余白0px */
		padding-top: 0;
	}
	
	#about h2.medium {
		/* sp時は中央寄せに変更する */
		text-align: center;
	}

	#about p.medium span {
		/* spanをインライン要素にすることで、改行しないようにする */
		display: inline;
	}

	.left-img {
		/* sp時下側余白20px */
		margin-bottom: 20px;
	}

}


/** -----------------------------------
    コンセプト
-------------------------------------**/
#concept .main-title {
	/* 下の外側余白160px */
	margin-bottom: 160px;
}
#concept .col-2 {
	/* 上の外側余白160px */
	margin-top: 160px;
	/* flexで横並びにした要素を上下中央揃えに配置 */
	align-items: center;
}
#concept .item.img-wrap{
	/* .img-wrapクラスのついている.itemクラスのwidthを調整 */
	width: calc((56% - 20px));
}
#concept .item.text-wrap{
	/* .text-wrapクラスのついている.itemクラスのwidthを調整 */
	width: calc((44% - 20px));
}
img.mark {
	/* 横幅を指定 */
	width: 100px;
}

/* コンセプト1 */
.concept1 .text-wrap {
	/* イラスト配置の基準とする親要素に指定 */
	position: relative;
}
.concept1 .concept1-img2 {
	/* 横幅を220pxに指定 */
	width: 220px;
	/* 配置したい要素にposition:absolute;を指定 */
	position: absolute;
	/* 上から150px */
	top: -150px;
	/* 右から0px */
	right: 0;
}

/* コンセプト2 */
.concept2 .text-wrap{
	/* イラスト配置の基準とする親要素に指定 */
	position: relative;
}
.concept2 .concept2-img2 {
	/* 横幅を200pxに指定 */
	width: 200px;
	/* 配置したい要素にposition:absolute;を指定 */
	position: absolute;
	/* 上から190px */
	top: -190px;
	/* 右から-120px */
	right: -120px;
}
.col-2.concept2 {
	/* flexで並べた横並びの方向を、右から左に並ぶようにする */
	flex-direction: row-reverse;
}

/* コンセプト3 */
.concept3 .text-wrap {
	/* イラスト配置の基準とする親要素に指定 */
	position: relative;
}
.concept3 .concept3-img2 {
	/* 横幅を270pxに指定 */
	width: 270px;
	/* 配置したい要素にposition:absolute;を指定 */
	position: absolute;
	/* 上から150px */
	top: -150px;
	/* 右から0px */
	right: 0;
}


/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
	#concept .main-title {
		/* sp時、余白を調整 */
		margin-bottom: 60px;
	}
	#concept .col-2 {
		/* sp時、余白を調整 */
		margin-top: 60px;
	}
	#concept .item.img-wrap{
		/* sp時横幅をいっぱいに */
		width: 100%;
		/* 下側に余白を20px */
		margin-bottom: 20px;
	}
	#concept .item.text-wrap{
		/* sp時横幅をいっぱいに */
		width: 100%;
	}
	/* コンセプト1 */
	.concept1 .concept1-img2 {
		/* sp時イラストの大きさ・配置を調整 */
		width: 40%;
		top: -80px;
		right: -40px;
		width: 160px;
	}
	/* コンセプト2 */
	.concept2 .concept2-img2 {
		/* sp時イラストの大きさ・配置を調整 */
		width: 40%;
		top: -130px;
		right: -50px;
	}
	/* コンセプト3 */
	.concept3 .concept3-img2 {
		/* sp時イラストの大きさ・配置を調整 */
		width: 50%;
		top: -50px;
		right: -30px;
	}
}

/** -----------------------------------
    ピックアップ
-------------------------------------**/
#pickup {
	/* 背景画像を設定 */
	background-image: url(../images/point-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#pickup .main-title {
	/* タイトル下に98pxの余白（60px+疑似要素で設置する吹き出しの高さ38px分） */
	margin-bottom: 98px;
	color: #ffffff;
}

#pickup .item {
	/* 背景色を白に */
	background-color: #ffffff;
}

.card1 {
	/* 疑似要素の配置の基準となる親要素にpositionプロパティを設定 */
	position: relative;
}

.card1::before {
	/* 「cafe」を疑似要素で設置 */
	content: '';
	/* 背景画像を設置 */
	background-image: url("../images/icon-healing-plant.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/* 横幅140px */
	width: 210px;
	/* 高さ28px */
	height: 80px;
	/* 配置したい要素にpositionプロパティを設定 */
	position: absolute;
	/* 上から-38px */
	top: -80px;
	/* 左から50% */
	left: 50%;
	/* 画像の横幅の50%分だけ左に戻す */
	transform: translateX(-50%);
	/* 重なり順1を指定 */
	z-index: 1;
}

.card2 {
	/* 疑似要素の配置の基準となる親要素にpositionプロパティを設定 */
	position: relative;
}

.card2::before {
	/* 「cafe」を疑似要素で設置 */
	content: '';
	/* 背景画像を設置 */
	background-image: url("../images/icon-village-cafe.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/* 横幅210px */
	width: 210px;
	/* 高さ28px */
	height: 80px;
	/* 配置したい要素にpositionプロパティを設定 */
	position: absolute;
	/* 上から-38px */
	top: -80px;
	/* 左から50% */
	left: 50%;
	/* 画像の横幅の50%分だけ左に戻す */
	transform: translateX(-50%);
	/* 重なり順1を指定 */
	z-index: 1;
}

.card-img {
	/* 画像に白い枠線を設定 太さ3px */
	border: 3px solid #ffffff;
}

.card-img img {
	/* 画像の横幅を親要素いっぱいに広げる */
	width: 100%;
}

.card .card-text {
	/* テキストエリアの余白を設定 */
	padding: 30px 15px;
}

#pickup .card-text h3.medium {
	/* タイトル下に余白15pxを設定 */
	padding-bottom: 15px;
}

/* SNSコンテンツ */
.sns-coment{
	/* 左右中央揃え */
	text-align: center;
	/* 上側余白80px */
	padding-top: 80px;
}

#pickup .sns-coment p.small {
	/* テキストのスタイル */
	color: #ffffff;
	text-align: center;
	margin-bottom: 30px;
}

#pickup .icon a {
	/* SNSアイコンの左右に余白を設定 */
	margin: 0 30px;
}

#pickup .icon a img.twitter{
	/* ツイッターアイコン横幅40px */
	width: 40px;
}

#pickup .icon a img.instagram{
	/* インスタアイコン横幅34px */
	width: 34px;
}

#pickup .icon a:hover {
	/* ホバー時透明度0.7 */
	opacity: 0.7;
}

/** -------- スマホ -------- **/

@media screen and (max-width: 768px) {
	#pickup .item {
		/* sp時、.itemと.itemの間に78px余白を設定 */
		margin-top: 78px;
	}
}

/** -----------------------------------
    story
-------------------------------------**/
#story .main-title {
	margin-bottom: 60px;
}

#story h3.large span {
	/* spanで改行する */
	display: block;
}

p.small.name {
	/* .nameのみ右寄せに配置 */
	text-align: right;
	/* 上に40px余白を設定 */
	margin-top: 40px;
}

.wrapper {
	/* slickの矢印が表示されるように、右側に内側余白28pxを設定 */
	padding-right: 28px;
}

.slider-for {
	/* 上と下のslickスライダーの間に余白を開ける */
    padding-bottom: 15px;
}

.slick-slide {
	/* slickの画像と画像の間に余白を空ける */
	margin: 0 5px;
}

#story{
	position: relative;
	padding: 80px 0;
}

#story::after{
content: "";
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
background: #f3efe7;
z-index: -1;
}

/** -------- スマホ -------- **/
@media screen and (max-width: 768px) {
	.name {
		/* 下側余白40px */
		margin-bottom: 40px;
	}
	.wrapper {
		/* 右側余白を0に */
		padding-right: 0px;
	}
}

/** -----------------------------------
    アクセス
-------------------------------------**/
#access {
	/* セクションの背景色#e5e5e5 */
	background-color: #e5e5e5;
}

#access .main-title {
	/* 下側余白60px */
	margin-bottom: 60px;

}

/* Google mapをレスポンシブ対応するためのお決まりコード ここから*/
.gmap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 縦横比率が、横:縦=16:9の場合 */
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* Google mapをレスポンシブ対応するためのお決まりコード ここまで*/

a.button {
	/* ボタンのスタイルを設定 */
	display: block;
	width: 200px;
	height: 50px;
	background-color: #333;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	margin-top: 40px;
}
a.button:hover {
	/* ホバー時透明度0.7 */
	opacity: 0.7;
}

/** -------- スマホ -------- **/

@media screen and (max-width: 768px) {
	#access p.medium {
		/* sp時、上の余白20px */
		margin-top: 20px;
	}
	a.button {
		/* sp時、上の余白20px */
		margin-top: 20px;
	}
}

/** -----------------------------------
    フッター
-------------------------------------**/
#footer {
	/* 背景色#333333 */
	background-color: #333333;
	/* 文字は左右中央揃え */
	text-align: center;
	/* 上下40px 左右24pxの余白を設定 */
	padding: 40px 24px;
}

ul.footer-link {
	/* 文字色#ffffff */
	color: #ffffff;
	/* リンク文字の下側に30pxの余白 */
	margin-bottom: 30px;
}

ul.footer-link img.twitter{
	/* ツイッターアイコン横幅40px */
	width: 40px;
}

ul.footer-link img.instagram{
	/* インスタアイコン横幅34px */
	width: 34px;
}

ul.footer-link a:hover{
	opacity: 0.7;
}

p.copyright {
	/* コピーライトのスタイル */
	font-size: 14px;
	color: #ffffff;
}

ul.footer-link li {
	/* inline-block要素にして、横並びにする */
	display: inline-block;
	/* テキストと画像が上下中央に配置されるように微調整 */
	vertical-align: middle;
	/* 右に余白を10px */
	margin-right: 40px;
}

